<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div id="header">
    <h2>Calorie Counter</h2>
</div>
<div id="container">
    <%- include ("messages.ejs") %>
    <form action="/search" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="foodname" placeholder="Enter food name you want to search" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
                <button class="btn btn-outline-secondary" type="button" id="clear">Clear</button>
            </div>
        </div>
    </form>
    <% if(foodInfo) { %>
        <h4>There are <%= foodInfo.length %> results found</h4>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Food Name</th>
                <th scope="col">Calorie</th>
                <th scope="col">Portion Size</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<foodInfo.length; i++) { %>
                    <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= foodInfo[i].name %></td>
                    <td><%= foodInfo[i].calorie %></td>
                    <td><%= foodInfo[i].portion %> <%= foodInfo[i].portionName %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
</body>
<script src="script.js"></script>
</html>